<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Director</title>
</head>
<body>
<h1>Add director</h1>
<form action="/hollywood/director" method="GET">
    <p>First name: <label>
        <input type="text" name="first_name"/>
    </label></p>
    <p>Last name: <label>
        <input type="text" name="last_name"/>
    </label></p>
    <p>Birth date: <label>
        <input type="date" name="birth_date"/>
    </label></p>
    <input type="submit" value="Create">
</form>
<br>
<form action="/hollywood" method="GET">
    <input type="submit" value="Back">
</form>
</body>
</html>