<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Hollywood</h1>
<h2>Director</h2>
<form action="/hollywood/create_director" method="GET">
    <input type="submit" value="Add Director">
</form>
<br>
<form action="/hollywood/delete_director" method="GET">
    <input type="submit" value="Delete Director">
</form>
<br>
<form action="/hollywood/read_director" method="GET">
    <input type="submit" value="About Director">
</form>

<h2>Film</h2>
<form action="/hollywood/create_film" method="GET">
    <input type="submit" value="Add film">
</form>
<br>
<form action="/hollywood/delete_film" method="GET">
    <input type="submit" value="Delete film">
</form>
<br>
<form action="/hollywood/read_film" method="GET">
    <input type="submit" value="About film">
</form>
</body>
</html>
